<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo>
        <plugin name="joint_controller" filename="libgazebo_ros_joint_controller.so">
            <ros>
            <namespace>/kabot</namespace>
            <remapping>
                <remap from="joint_states" to="/kabot/wheels" />
            </remapping>
            </ros>
            <update_rate>100</update_rate>
            <joint>
            <name>left_wheel_joint</name>
            <type>velocity</type>
            </joint>
            <joint>
            <name>right_wheel_joint</name>
            <type>velocity</type>
            </joint>
        </plugin>
    </gazebo>
</robot>